
//@theme "/home/dog/.local/share/rofi/themes/rounded-template.rasi"

//@theme "/home/inde/.local/share/rofi/themes/rounded-template.rasi"

//@theme "/home/inde/.local/share/rofi/themes/minimal.rasi"

@theme "/home/inde/.local/share/rofi/themes/minimal.rasi"
